/*
BUTTONS LIBRARY
*/

.btn-inverse{background: #333; border: solid 1px #111; color: #fff;}
.btn-inverse:hover{background: #111; color: #fff;}

.btn-info{background: #44e2e4;}
.btn-danger{background: #c7254e;}
.btn-purple{background: #da11dc;}
.btn-pink{background: #f21874;}
.btn-success{background: #0acd9d;}
.btn-yellow{background: #f6c70c;}
.btn-primary{background: #0573e3;}
.btn-warning{background: #eea236;}
.btn-gray{background: #888888;}

/*==========================Text Color========================*/
.text-info{color: #44e2e4;}
.text-danger{color: #c7254e;}
.text-purple{color: #da11dc;}
.text-pink{color: #f21874;}
.text-success{color: #0acd9d;}
.text-yellow{color: #f6c70c;}
.text-primary{color: #0573e3;}
.text-warning{color: #eea236;}
.text-gray{color: #888888;}


.box{border: solid 1px #E5E5E5; background: #FFF; margin-bottom: 15px;}
.box-md{padding: 15px;}
.box-lg{padding: 20px;}
.box-p{padding: 12px;}
.box-bt{border-top: solid 1px #E5E5E5;}
.box-bb{border-bottom: solid 1px #E5E5E5;}
.box-footer{background: #f6f7f8; border-top: solid 1px #e9eaed; border-radius: 0 0 2px 2px; padding: 12px;}
.box-header{background: #f6f7f8; border-bottom: solid 1px #e9eaed; padding: 12px; border-radius: 2px 2px 0 0;}
.box-brd{border-top: solid 2px #f58533; border-radius: 0 0 2px 2px;}
.box-title{margin: 0; padding: 0;}
.box-hr{border-bottom: solid 1px #ddd;}
.box-label{width: 40%; display: block; float: left; color: #da11dc; font-weight: bold;}
.box-label-info{margin-left: 45%;}
.box-label-info:after, .box-label:before{content: ' '; display: block; clear: both;}

.box-bb, .box-bt{position: relative;}
.box-dismiss{position: absolute; right: 0; top: 0; padding: 11px 15px; border-left: solid 1px #E5E5E5; color: #E5E5E5; cursor: pointer;}
.box-dismiss:hover{color: #666;}
.box-preicon{border-right: solid 1px #E5E5E5; padding: 10px; margin: -11px 10px -11px -5px;}

.box-ul{list-style: none; margin: 0 -12px; padding: 0;}
.box-ul li{border-bottom: solid 1px #EEE; padding: 5px 12px}
.box-ul li:last-child{border: none;}

.box table.table{margin: 0;}

.box-danger{border-top: solid 2px #c7254e;}
.box-pink{border-top: solid 2px #ff0041;}
.box-info{border-top: solid 2px #0096ca;}
.box-success{border-top: solid 2px #00ca34;}
.box-warning{border-top: solid 2px #eea236;}
.box-gray{border-top: solid 2px #888888;}

.btn-flat{border-radius: 0;}
.btn-round{border-radius: 2px;}
.btn-outline{background: #fff; border: solid 1px #DDD;}

.btn-info.btn-outline{color: #44e2e4; border-color: #44e2e4;}
.btn-danger.btn-outline{color: #c7254e; border-color: #c7254e;}
.btn-purple.btn-outline{color: #da11dc; border-color: #da11dc;}
.btn-pink.btn-outline{color: #f21874; border-color: #f21874;}
.btn-success.btn-outline{color: #0acd9d; border-color: #0acd9d;}
.btn-yellow.btn-outline{color: #f6c70c; border-color: #f6c70c;}
.btn-primary.btn-outline{color: #0573e3; border-color: #0573e3;}
.btn-warning.btn-outline{color: #eea236; border-color: #eea236;}
.btn-gray.btn-outline{color: #888888; border-color: #888888;}


.btn-info.btn-outline:hover{background: #44e2e4; color: #fff;}
.btn-danger.btn-outline:hover{background: #c7254e; color: #fff;}
.btn-purple.btn-outline:hover{background: #da11dc; color: #fff;}
.btn-pink.btn-outline:hover{background: #f21874; color: #fff;}
.btn-success.btn-outline:hover{background: #0acd9d; color: #fff;}
.btn-yellow.btn-outline:hover{background: #f6c70c; color: #fff;}
.btn-primary.btn-outline:hover{background: #0573e3; color: #fff;}
.btn-warning.btn-outline:hover{background: #eea236; color: #fff;}
.btn-gray.btn-outline:hover{background: #888888; color: #fff;}

.alert{border-radius: 2px; padding: 10px;}
