/*============================================meida=====================================================*/
@media(min-width:800px){ .mob{  display:none !important; } .destop{  display:block !important; }  }
@media(max-width:800px){ .mob{  display:block !important; } .destop{  display:none !important; }  }
@media(max-width:500px){
    
    .vender_register .card {
     width:100%;  
}
    
    .right_box {
    top:10px !important;
}

.logo {
    position: relative;
    margin-top: 3px !important;
    z-index: 101;
    display: inline-block;
    cursor: pointer;
}

 .mob-card{  }
 .mob-card .mob-card-body{ }
 .mob-lists{ position:relative; }
 .mob-lists li{ display: inline-block;
    width: 48%;     margin-bottom: 12px; }
 .mob-lists li .mob-box{     width: 100%;
    text-align: center;  }
 .mob-lists li .mob-box .img-bx{     display: block;
    height: 135px;
    overflow: hidden; }
 .mob-lists li .mob-box p{ margin-bottom:0px; }
 .mob-lists li .mob-box .title_txt{     font-weight: 500;
    font-size: 13px; }
 .mob-lists li .mob-box .discount{      font-size: 14px;
    font-weight: 500;
    color: orange; }
    .mob-heading{ }
    .mob-heading p{     margin-bottom: 0px;
    color: #fff;
    font-size: 20px; }
    .mob-all-link{ }
    .mob-all-link a{ text-align: right;
    position: relative;
    color: #000;
    background-color: #fff;
    float: right;
    border: solid 1px #ccc;
    font-size: 14px;
    padding: 2px 10px !important;
    border-radius: 4px; }
    
 .mob-lists:after{  content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #ccc;
    z-index: 100;
    top: 0px;
    left: 47%; }
    
    .mob-lists:before{  content: '';
    position: absolute;
    width:100%;
    height:1px;
    background-color: #ccc;
    z-index: 100;
    top: 48%;
    left: 0px; }
 
 .mob-menu{ 
    width: 40px;
    float: left;
    font-size: 30px;
    color: #fff;
    margin-top:0px;
    position: relative;
    margin-left: 0px;
    cursor: pointer;
       z-index: 1000; 
 }
 .mob-bg-light{ background-color:#fff;  }
 #nav-menu #nav li a {
    color: #fff;
    padding: 5px 20px;
    font-size: 13px;
}

#navbar-collapse1{ width:100%;     margin-top:65px; }
#nav-menu #nav li {
    border-bottom: solid 0px #2990ff !important;
}
#nav-menu #nav li a {
    color: #fff;
    padding: 15px 20px;
   font-size: 15px;
}
#nav-menu #nav {
    border-top: solid 0px #2990ff !important;
        margin-top: 0px;
} 
#nav-menu {
    position: absolute;
    background-color: #5e5f61;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: solid 2px #ccc;
    z-index: 1000;
    top: 0px;
    width: 90%;
    left: -345px;
}

#nav-menu #nav li.nav-item a i {
    margin-right:15px;
    font-size:18px;
        display: inline-block !important;
}

#nav-menu #nav li:first-child{
  display:none;
}
 .mob-header{
     width: 100%;
    -ms-flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 16px;
    background-color: #ccc;
 }
 
 .mob-list-top{  padding: 0px;
    margin: 0px;
    list-style: none;
    margin-top: -12px;
    padding-bottom: 10px;
    margin-left: 20px;   }
 
 
 .mob-list-top li{ display:inline-block; }  
 .mob-list-top li a{ color: #fff; }
 .mob-list-top li:first-child {     margin-right: 25px; } 
 .mob-list-top li:last-child {  }
 .mob-list-top li:first-child a{ font-size: 16px; } 
 .mob-list-top li:last-child a{  }
 
    .logo a { font-size: 26px; }
    

    
 .srch_box {  margin-top:0px; }
 .cls{  position: absolute;
    right: 6px;
    top: 2px;
    color: #5e5f61;
    cursor:pointer;
    font-size: 20px !important; }
    
    .all_view{ 
    text-align: right;
    position: relative;
    top: -44px;
    color: #000;
    background-color: #f1ebeb;
    float: right;
    border: solid 1px #ccc;
    font-size: 14px;
    padding: 2px 10px !important;
    border-radius: 4px;
 }
 
 .mob-card{  }
 .mob-card .card-body{ padding:0px; }
 .mob-lists{ list-style:none; padding:0px;     margin: 8px 0px 10px 0px;     background-color: #fff;
    border-radius: 3px;
    border: solid 1px #ccc;
     }
 .mob-lists li{    } 
 .crt_btn, .pro_items .pro_title {
    display:none;
    }
.pro_img {
    height: 100px;
}
.pro_img img {
    max-height: 100px;
}
.pro_items ul{margin:0px !important;}
.drop-box {
right: -23px;
}
.rgt_box {
z-index: 100;
}
.drop-box:after {
left: 73%;
}
 .bg-colors .bg-boxs{padding-bottom:15px; padding-top:15px;  }
 .bg-colors .bg-boxs:nth-child(1) {   }
 .bg-colors .bg-boxs:nth-child(2)  {   }
 .bg-colors .bg-boxs:nth-child(3)  {    }
 .bg-colors .bg-boxs:nth-child(4)  {    }


}
